/* Other CSS starts from here =====================================================*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #ffffff;
  color: #394150;
}

.usps-section,
.promote,
.teacher-section-content-box,
.media-content-box,
.short-course-content-box,
.recent-course-content-box,
.path-course-content-box,
.social-box,
.article-section,
.footer-box {
  width: 95%;
  max-width: 1200px;
  margin: 50px auto 0px auto;
  position: relative;
}

.redline {
  display: inline-block;
  width: 50px;
  border: none;
  border-bottom: 2.5px solid #ff143e;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.sub-heading {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 20px auto 50px auto;
}

.section-cta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  color: white;
  background-color: #ff143e;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.section-cta:hover {
  cursor: pointer;
  background-color: #a80e2b;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
strong::selection,
a::selection {
  background-color: #ff143e;
  color: white;
}

/* NavBar Section */

header {
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 70px;
  margin-right: 20px;
}

.nav-brand {
  margin-left: 20px;
  width: 40%;
}

.nav-brand h2 {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 70px;
}

.nav-logo {
  width: 40px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin: 0px 5px;
  line-height: 70px;
  display: inline-block;
  height: 66px;
  transition: all 0.2s ease;
}

.nav-link-box {
  display: flex;
}

.nav-link-individaul-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.nav-line {
  height: 4px;
  background-color: #ff143e;
  width: 0%;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: #ff143e;
}

.nav-link-individaul-box:hover .nav-line {
  width: 100%;
}

/* Hero Image section ==========================================================================================*/

.promote {
  margin: 100px auto 0px auto;
}

.promote-img {
  width: 100%;
  border-radius: 10px;
}

/* USP section ==========================================================================================*/

.usps-section {
  text-align: center;
}

.usp-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.usp-img {
  width: 80%;
}

.usp-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.usp-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Teacher section ==========================================================================================*/

.teacher-section-content-box {
  width: 95%;
  max-width: 1600px;
  margin: 50px auto 0px auto;
  position: relative;
}

.teacher-section {
  background-color: #f9fafb;
  margin-top: 180px;
  position: relative;
}

.teacher-section::before {
  content: "";
  height: 150px;
  width: 100%;
  background-color: #f9fafb;
  position: absolute;
  top: -150px;
  z-index: 3;
  clip-path: polygon(30% 0%, 100% 100%, 0% 100%);
}

.heading-box {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* .teacher-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.teacher-card {
  background-color: #ffffff;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(128, 128, 143, 0.2);
  box-sizing: border-box;
}

.teacher-info {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.name {
  font-size: 1.3rem;
  font-weight: 600;
}

.teacher-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.teacher-details {
  margin-left: 30px;
  /* margin-bottom: 20px; */
  height: 100%;
}

.teacher-details .title {
  font-weight: 400;
  margin-bottom: 0px;
}

.teacher-details .name {
  margin-top: 8px;
}

.teacher-social-box {
  margin-top: 20px;
}

.teacher-social-link {
  font-size: 1.3rem;
  margin-right: 10px;
  color: #a0a6b1;
  transition: color 0.2s ease;
}

.teacher-social-link:hover {
  color: #33353a;
}

.teacher-info-divider {
  border: none;
  border-bottom: 1px solid #e5e7eb;
}

.teacher-desc {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teacher-desc a {
  color: #ff143e;
  text-decoration: none;
}

.teacher-desc a:hover {
  text-decoration: underline;
}

.othercourse-divier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.othercourse-divier .othercourse-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  position: relative;
}

.othercourse-divier .teacher-info-divider {
  width: 75%;
}

.course-btn {
  background-color: #ffffff;
  height: 40px;
  font-size: 1rem;
  color: #ff143e;
  border: 1px solid #ff143e;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.2s ease;
}

.course-btn:hover {
  cursor: pointer;
  background-color: #ff143e;
  color: white;
}

/* Media section ==========================================================================================*/

.media-section {
  background-color: #f9fafb;
  padding-top: 80px;
  padding-bottom: 100px;
  line-height: 1.5;
}

.media-content-box .heading-box {
  text-align: center;
}

.media-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.media-item {
  width: 41%;
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.media-source-date {
  color: #6c727f;
}

.media-item a {
  text-decoration: none;
  color: #394150;
}

.media-item a:hover {
  color: #ff143e;
}

@media screen and (max-width: 768px) {
  .media-item {
    width: 95%;
  }
}
